<%= form_for user, url: '/login', method: 'post' do |f| %>
  <div class='control-group', align='left'>
    <%= f.text_field :email, placeholder: "Username" %>
  </div>
  <div class='control-group' align='left'>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.submit 'Login', class: 'btn-btn-primary', align: 'left'%>
  </div >

<% end %>
