<div class='well'>
  <h1>Welcome to Catch Up!</h1>
  <p>Log-in and catch up on the news and your friends</p>

  <%= render partial: 'sessions/form', locals: {user: User.new} %>

  <br>
  <p>Don't have an account? No Problem! <%= link_to "Sign-up", signup_path %> is easy and free!</p>
</div>
