<style>

	.comment {
		background: #fff;
	}

</style>

<% if post.comments.size > 0 %>
	<h3>Comments</h3>
	<% post.comments.reverse_each do |comment| %>
		<p>
		<span class="comment">
		<strong>
			<%= link_to comment.author, user_path(comment.user.id) %>
			<%= comment.datetime + ': ' %>
		</strong>
		<%= comment.message %>
		</span>
		</p>
	<% end %>
<% else %>
	<h3>No comments yet. Start a conversation!</h3>
<% end %>
