<h1>Who's Online?</h1>


<ul>
<% @users.each do |user| %>
	<li><strong><%= link_to user.name, user_path(user) %></strong> <% if !user.followers.include?(current_user) %><%= link_to '| Follow This User', follow_path(user), :remote => true, :id => "new_follow_link" %><% end %></li>
<% end %>
</ul>
