<div class="errors">
<% if @user.errors.any? %>
	<h2>Woah there!</h2>
	<% @user.errors.full_messages.each do |msg| %>
		<%= msg %>
	<% end %>
<% end %>
</div>
<%= render partial: 'registrations/form', locals: {user: @user, url: signup_path} %>
