<h1>Welcome, <%= current_user.name %>!</h1>

<% if @current_user_posts.count == 0 %>
  <h3>You haven't posted anything yet! <%= link_to "Post", new_post_path %> something! <h3>
<% else %>
  <% @current_user_posts.each do |post| %>
    <%= render partial: 'thumbnail', locals: {post: post} %>
  <% end %>

    <center><%= will_paginate @current_user_posts %></center>

<% end %>
