<h1>Latest News From Your Network</h1>



<% @posts_by_user.each do |post| %>
  <%= render partial: 'thumbnail', locals: {post: post} %>
  <%#= post.title %>
  <br>
  <%#= link_to post.get_poster_name, user_path(post.user) %><%= post.get_post_date %>
  <br>

  <% end %>



<%= will_paginate @posts_by_user %>
