<h1>Latest News From Your Network</h1><Br><br>


<% if @posts_by_user.count == 0 %>
  <h3>You don't have any posts to view! Get out there and <%= link_to "follow", users_path %> some more users!<h3>
<% else %>
  <% @posts_by_user.each do |post| %>
    <%= render partial: 'thumbnail', locals: {post: post} %>
  <% end %>

  <%= will_paginate @posts_by_user %>
<% end %>
