/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

/* .container {
  margin-left: 135px
}*/
/*
.navbar .nav > li > a.brand {
  padding-left: 0px;
}*/
body {
  padding: 0;
  margin: 0;
}

body {
  background: #f3f3f3 !important;
}

nav a {
 color: #bfbfbf;
}

nav {
  background: #7f7f7f !important;


  /*border: none !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 1000 !important;*/
  margin: 0;
  padding: 5px;
  border-top: 2px solid #a6a6a6;

}

footer {
  background: #7f7f7f;
  margin: 0;
  padding: 5px;
  border-top: 2px solid #a6a6a6;
}

footer h4 {
  font-weight: 200;
  color: #bfbfbf;
  font-size: 14px;
}

footer a, footer a:hover {
  color: #bfbfbf;
}
/*div.nav_item {
  margin-left: 25px;
  float: left;
}*/

.errors {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  height: auto;
  overflow: auto;
}

.emoji {
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  text-align: center;
  font-size: 60px;
  color: #000;
}

.errors h2 {
  text-align: center;
  color: #aa0000;
  font-weight: bold;
}

.errors p {
  color: #cc0000;
}

.errors span {
  color: #000;
}