
 @import "bootstrap";
 @import "custom";

/* .container {
  margin-left: 135px
}*/
/*
.navbar .nav > li > a.brand {
  padding-left: 0px;
}*/
// body {
//   padding: 0;
//   margin: 0;
// }
//
// body {
//   background: #f3f3f3;
// }
//
// nav a {
//  color: #bfbfbf;
// }
//
// nav {
//   background: #7f7f7f;
//
//
//   /*border: none !important;
//   border-radius: 0 !important;
//   margin-bottom: 0 !important;
//   position: fixed !important;
//   width: 100% !important;
//   z-index: 1000 !important;*/
//   margin: 0;
//   padding: 5px;
//   border-top: 2px solid #a6a6a6;
//
// }
//
// footer {
//   background: #7f7f7f;
//   margin: 0;
//   padding: 5px;
//   border-top: 2px solid #a6a6a6;
// }
//
// footer h4 {
//   font-weight: 200;
//   color: #bfbfbf;
//   font-size: 14px;
// }
//
// footer a, footer a:hover {
//   color: #bfbfbf;
// }
/*div.nav_item {
  margin-left: 25px;
  float: left;
}*/

