 div.navbar-header h4 a:hover{
  /*color: #ffb3ff;*/
  font: 26px ;
  visibility: visible;
  background-color: #00b3b3;
  text-decoration: none;
}

div.navbar-header h4 a{
  color: white;
  visibility: visible;


/* .container {
  margin-left: 135px
}*/
/*
.navbar .nav > li > a.brand {
  padding-left: 0px;
}*/
// body {
//   padding: 0;
//   margin: 0;
// }
//
// body {
//   background: #f3f3f3;
// }
//
// nav a {
//  color: #bfbfbf;
// }
//
// nav {
//   background: #7f7f7f;
//
//
//   /*border: none !important;
//   border-radius: 0 !important;
//   margin-bottom: 0 !important;
//   position: fixed !important;
//   width: 100% !important;
//   z-index: 1000 !important;*/
//   margin: 0;
//   padding: 5px;
//   border-top: 2px solid #a6a6a6;
//
// }
//
// footer {
//   background: #7f7f7f;
//   margin: 0;
//   padding: 5px;
//   border-top: 2px solid #a6a6a6;
// }
//
// footer h4 {
//   font-weight: 200;
//   color: #bfbfbf;
//   font-size: 14px;
// }
//
// footer a, footer a:hover {
//   color: #bfbfbf;
// }
/*div.nav_item {
  margin-left: 25px;
  float: left;
}*/


/* error formatting
======================*/
.errors {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  height: auto;
  overflow: auto;
}

.emoji {
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  text-align: center;
  font-size: 60px;
  color: #000;
}

.errors h2 {
  text-align: center;
  color: #aa0000;
  font-weight: bold;
}

.errors p {
  color: #cc0000;
}

.errors span {
  color: #000;
}